.clearfix:before,.clearfix:after{content:"",display:table;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;clear:both;}
html{width:100%;}
html,body,.warpper{height:100%;}
body{
	font-family:Arial, Helvetica, sans-serif;
	/*background-image: url("../images/login_bgx.png");*/
}
.warpper{
	width:100%;
	height:auto;
	min-height:100%;
	margin:0 auto;
	font-size: 0.9rem;
}
#demand{
	display:table;
}
.loginHeader{
	width:88%;
	margin:0px auto;
}
.loginHeader h1{
	float:left;
	font-size: 1.6rem;
    font-weight: 600;
    color: #000;
    letter-spacing:3px;
    margin-top:25px;
}
.logo{
	float:right;
	width:21%;
	margin-right:5%;
	border-radius: 50%;
	border:2px solid #8fd4f5;
}
.logo img{
	border-radius: 50%;
}
.loginTitle{
	font-family: "楷体";
	font-size:2rem;
	font-weight: 600;
	color:#4472c4;
	text-align:center;
	letter-spacing: 10px;
}
#loginForm{
	width:75%;
	margin:0 auto;
	padding:5px 0;
}
.form .form-control {
  	border-radius: 10px;
  	position: relative;
  	height: auto;
  	padding: 10px;
  	line-height: 1.4;
  	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.form input[type="text"], .form input[type="password"], .form select{
	margin-bottom:20px;
	width:100%;	
}
.form select{
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	background-image: url("../images/arrow.png");
    	background-repeat: no-repeat;
    	background-position: right center;
    	background-attachment: scroll;
}
.form .btn{
	margin:25px auto 0 auto;
	padding:8px 0;
	border-radius:8px;
}
#loginForm .form-control{
	border: 1px solid #6ca5d9;
}
#loginForm .has-error .form-control:focus{
	border-color: #843534;
}
#loginForm .btn{
	width:40%;
	margin:20px auto 15px auto;
}

.footer{
	width:100%;
	position:absolute;
	bottom:0px;	
	clear:both;
}
/*.warpper #guide{
	width: 62%;
	position: absolute;
	bottom: 30px;
    margin: 6% auto;
    font-size:0.9rem;
	color:#8e8d8d;
	
}
#guide p{
	margin-bottom:0;
}*/
.footer #guide{
	width:62%;
	margin:0 auto 30% auto;
	
}
.footer #guide p{
	margin-bottom:0px;
	font-size:0.9rem;
	color:#8e8d8d;
}
.footer>p{
	text-align: center;
	font-size:0.8rem;
}
.header img{
	width:100%;
	height:auto;
	margin:0 auto;
}
.main{
	width:90%;
	padding:20px 5%;
	margin:-5px auto;
	background-color: #fff;
	border-radius:50px;
	box-shadow: 0px 0px 30px 5px #666;
}
.content{
	width:100%;
	
}
#demandContent{
	display: table-cell;
   vertical-align: middle;
}
.main-top img, .main-bottom img{
	width:100%;
	height:auto;
	max-width: 1000px;
}
.main p{
	line-height: 160%;
	margin:0;
}
.main .btn{
	width:70%;
	margin:2px auto;
	font-size: 0.9rem;
}

/*welcome*/
.main-container .required{
	color:red;
}

#param_province, #param_city{
	width:50%;
	float:left;
}
#informationForm{
	width:90%;
	margin:auto;
	margin:20px auto 0 auto;
}
#informationForm .form-group{
	margin-bottom:10px;
}
#informationForm .form-control{
	border: 1px solid #6ca5d9;
}
#informationForm .has-error .form-control{
	border-color: #843534;
}
#informationForm input[type="text"],#informationForm input[type="password"],#informationForm select{
	/*margin-bottom:0;*/
}
#informationForm #start{
	width:90%;
}

/*toQuery.html*/

.queryMain_top .queryNext, .queryMain_top .queryBack{
	float:right;
	width:16%;
}
.queryMain_top .queryBack, .backForm{
	display:none;
}

/*toPay*/

.payMain, .queryMain{
	width:85%;
	margin:30px auto;	
}

.payMain_top, .queryMain_top{
	border-bottom: 1px solid #e2935a;
}
.payMain_top .payImg img, .queryMain_top .queryNext img, .queryMain_top .queryBack img, .queryMain_top .queryImg img, .testMain img{
	width:100%;
	height: auto;
	vertical-align: bottom;
}
.payMain_top .payTxt, .queryMain_top .queryTxt{
	font-size: 1rem;
	float:left;
	padding:4% 0 3% 10px;
}
.payMain_center{
	width:90%;
	margin:20px auto;
}

.payMain_center .fa{
	color:#BC1700;
	font-size:1.2rem;
}
.payMain_bottom .pay-left, .payMain_bottom .pay-right, .queryMain_bottom .query-left, .queryMain_bottom .query-right{
	margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    background-color: #fb7656;
    border-color: #f6623f;
    text-align: center;
}
.payMain_bottom .pay-left, .queryMain_bottom .query-left {
	width:40%;
	float:left;
}
.payMain_bottom .pay-right, .queryMain_bottom .query-right{
	width:55%;
	float:right;
}
.payMain_bottom .fa, .queryMain_bottom .fa{
	padding-top:3px;
}

.queryMain_top .btn{
	float:right;
}

/*test.html*/
.testLead{
	width:90%;
	margin:8px auto 0 auto;
}

.testTitle{
	text-align:center;
	color:#4472c4;
	letter-spacing: 2px;
	font-weight: 600;
}
.testCount{
	width:90%;
	color:#ff6631;
	margin:0 auto;
}
.questions h2{
	font-size:1.4rem;
	margin-top:10px;
}
.questions p{
	margin-bottom: 0;
}
.testMain{
	width:95%;
	margin:0 auto;
}
.testMain .input{
	float:left;
	margin-right:5px;
	border-radius: 50%;
	border:3px solid #ccc;
}

.testSwiper{
	width:95%;
}
.testSwiper a,.testSwiper .pages,.testSwiper input.btn{
	display:inline-block;
	width:33%;
	float:left;
	text-align: center;
	padding:8px 0px;
	font-size: 0.9rem;
	letter-spacing:2px;
}
.testSwiper input.btn{
	width:25%;
	float:right;
	color:#fff;
	background-color: #fb7656;
    border-color: #f6623f;
}

.testActive{
	display:none !important;
}
/*test score*/
.score{
  margin:2px auto;
  width:100%;
}
.score .default-statu{
  height: 20px;
  width:205px;
  float: left;
}
.score-expression,.score-star{
  overflow: hidden;
}
.score .default-statu .default-icon{
  background-image: url('../images/icon.png');
  background-repeat: no-repeat;
  background-position: top right;
  display: inline-block;
  height: 20px;
  width:30px;
}
.score-expression .default-statu .default-icon{
  background-position: top right;
}
.score-star .default-statu .default-icon{
  background-position: right -20px;
}
.score-description{
	height:20px;
	line-height: 23px;
	margin-left:1%;
	float:left;
	color:#ff6631;
}

/*result.html*/
.resultContent{
	margin-top:20px;
	margin-bottom: 5px;
}
.resultContent>h2{
	width:95%;
	font-size: 1.5rem;
	text-align: center;
	font-family: "楷体";
	font-weight: 600;
	color:#4472c4;
	letter-spacing: 4px;
	margin:0 auto;
}
.download{
	color:#63a1db;
	text-align: right;
    margin-right: 5%;
}

#resultMain{
	width:90%;
	margin:0 auto;
}
.testResult p{
	margin:0.4rem 0;
	line-height: 150%;
}
.indent{	
	text-indent:1.8rem;
}

#parentHorizontalTab .fa{
	color:#f6623f;
	padding-right:5px;
}

#resultMain .form-group{
	margin-bottom:6px;
}

#resultMain .address{
	width:96%;
	font-size: 0.8rem;
	color:#999;
	margin: 10px auto 0 auto;
}
#resultMain .address p{
	margin:0;
	line-height: 145%;
}
#resultMain form .fa{
	color:#63a1db;
	padding:2px 8px 0 5px;
}
.testResult h2{
	font-size: 0.9rem;
}
.testResult .fa{
	font-size: 1rem;
}
.testResult table{
	width:100%;
	text-align:center;
	font-size: 0.8rem;
	line-height: 1.5rem;
}
.testResult table tr{
	border:1px solid #ccc;

}
.testResult table td{
	border:1px solid #ccc;
	text-align:center;
	vertical-align: middle;
}
.resultUL>li{
	border:1px solid #8497b0;
}
.resultUL li{	
	margin-top:5px;	
	border-radius: 8px;
}
.resultUL li>a{
	display: block;
	color:#333;
	padding:8px 12px;	
	/*font-size:1rem;*/
}
.resultUL li .fa{
	color:#63a1db;
	padding:0px 8px;
	font-weight: 600;
	padding-top:3px;
}
.resultUL li .listFa{
	float:right;
	padding-top:0;
}
.resultUL .listContent{
	width: 90%;
    margin: 0 auto;
    border-top: 1px dashed #8497b0;
}
.resultUL .listContent{
	display:none;
}

@media screen and (min-width: 320px) { 
	html {font-size: 14px;} 
	.questions h3{
		margin-top:2%;
	}
	.testLead p{
		margin-bottom:5px;
	} 
	.testSwiper{
		margin:0 auto;
	}
	.swiper-slide{
		padding:0 0.2rem;
	}
	#informationForm input[type="text"], #informationForm input[type="password"], #informationForm select{
		margin-bottom:0;
	}
	.footer #guide{
		margin:0 auto 15% auto;
		
	}
}

@media screen and (min-width: 360px) { 
	html {font-size: 16px;}
	.questions h3{
		margin-top:3%;
	}
	.testSwiper{
		margin: 0 auto;
	}
	.swiper-slide{
		padding:0 0.2rem;
	}
	#informationForm input[type="text"], #informationForm input[type="password"], #informationForm select{
		margin-bottom:20px;
	}
	.footer #guide{
		margin:0 auto 30% auto;
		
	}
}

@media screen and (min-width: 400px) { 
	html {font-size: 18px;}
	.questions h3{
		margin-top:4%;
	}
	.testSwiper{
		margin:10px auto 0 auto;
	}
	.swiper-slide{
		padding:0 0.2rem;
	}
	#informationForm input[type="text"], #informationForm input[type="password"], #informationForm select{
		margin-bottom:20px;
	}
}

@media screen and (min-width: 440px) { 
	html {font-size: 20px;}
	.questions h3{
		margin-top:4%;
	}
	.testSwiper{
		margin:10px auto 0 auto;
	}
	.swiper-slide{
		padding:0 0.2rem;
	}
	#informationForm input[type="text"], #informationForm input[type="password"], #informationForm select{
		margin-bottom:20px;
	}
}

@media screen and (min-width: 480px) { 
	html {font-size: 22px;}
	.questions h3{
		margin-top:4%;
	}
	.testSwiper{
		margin:10px auto 0 auto;
	}
	.swiper-slide{
		padding:0 0.2rem;
	}
	#informationForm input[type="text"], #informationForm input[type="password"], #informationForm select{
		margin-bottom:20px;
	}
}

@media screen and (min-width: 640px) { 
	html {font-size: 28px;}
	.questions h3{
		margin-top:4%;
	}
	.testSwiper{
		margin:30px auto 0 auto;
	}
	.swiper-slide{
		padding:0 0.2rem;
	}
	#informationForm input[type="text"], #informationForm input[type="password"], #informationForm select{
		margin-bottom:20px;
	}
	#informationForm #start{
		font-size: 1.1rem;
	}
	.score-description{
		font-size:0.6rem;
	}
}
